<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>babadoimagem.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2979B2037696CB14A6BCD73827B3C34F60345001</string>
				<key>dateExpires</key>
				<string>03/02/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2979B2037696CB14A6BCD73827B3C34F60345001</string>
						<key>dateExpires</key>
						<string>03/02/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>25G88ZVQ7W</string>
						<key>name</key>
						<string>Guilherme Pereira Neto</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2979B2037696CB14A6BCD73827B3C34F60345001</string>
						<key>dateExpires</key>
						<string>03/02/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>25G88ZVQ7W</string>
						<key>name</key>
						<string>Guilherme Pereira Neto</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2979B2037696CB14A6BCD73827B3C34F60345001</string>
						<key>dateExpires</key>
						<string>03/02/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>25G88ZVQ7W</string>
						<key>name</key>
						<string>Guilherme Pereira Neto</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2979B2037696CB14A6BCD73827B3C34F60345001</string>
						<key>dateExpires</key>
						<string>03/02/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>25G88ZVQ7W</string>
						<key>name</key>
						<string>Guilherme Pereira Neto</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2979B2037696CB14A6BCD73827B3C34F60345001</string>
						<key>dateExpires</key>
						<string>03/02/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>25G88ZVQ7W</string>
						<key>name</key>
						<string>Guilherme Pereira Neto</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>25G88ZVQ7W.br.com.gpneto.babadoimagem</string>
				<key>com.apple.developer.team-identifier</key>
				<string>25G88ZVQ7W</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>18404d92-8390-4dac-a44a-ab67fd6fb466</string>
				<key>dateExpires</key>
				<string>04/02/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: br.com.gpneto.babadoimagem</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>25G88ZVQ7W</string>
				<key>name</key>
				<string>Guilherme Pereira Neto</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
